<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hello <%= @email %>, your user account has been blocked! :/
    </p>
    <p>
      To unblock your account you need to reset your password. Click the link below:
    </p>
    <a href="<%= @host %><%= @path %><%= @token %>/<%= @user_id %>">Reset your password</a>
    <br>
    <p>
      If you have any questions, please contact us at <%= @support_email %>.
    </p>
    <p>
      Thanks,
      <br>
      The <%= @app_name %> Team
    </p>
  </body>
</html>
